.DS_Store
/.android/
/.bashrc
/.bootdev.yaml
/.cache/
/.docker/
/.expo/
/.flutter
/.gitconfig
/.ipynb_checkpoints/
/.ipython/
/.jupyter/
/.keras/
/lesshst
/.local/
/.matplotlib/
/.mysql_history
/.netrc
/.npm/
/.nvm/
/.pub-cache/
/.pyenv/
/.python_history
/.ssh/
/.swiftpm/
/tcshrc
/.thinkorswim/
/vim/
/viminfo
/.vscode-react-native/
/.vscode/
/xonshrc
/.yarnrc
/.zcompdump
/.zprofile
/.zprofile.macports-saved_2024-01-16_at_18:40:28
/.zsh_history
/.zsh_sessions/
/.zshrc
/AiApp/
/Applications/
/Desktop/
/Documents/
/Downloads/
/EnhancedBot/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/PycharmProjects/
/VirtualBox VMs/
/anaconda3/
/bug/
/fitnessapp/
/go/
/projects/
/root@45.55.131.82
/thinkorswim/
/webpage/
/main.py
/Testing Jupyter.ipynb
/Untitled.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
/emotiondetector/
/workspace/
/portfolio/
/my_env/
/__pycache__/
/.dartServer/
.DS_Store
/.android/
/.bashrc
/.bootdev.yaml
/.cache/
/.docker/
/.expo/
/.flutter
/.gitconfig
/.ipynb_checkpoints/
/.ipython/
/.jupyter/
/.keras/
/lesshst
/.local/
/.matplotlib/
/.mysql_history
/.netrc
/.npm/
/.nvm/
/.pub-cache/
/.pyenv/
/.python_history
/.ssh/
/.swiftpm/
/tcshrc
/.thinkorswim/
/vim/
/viminfo
/.vscode-react-native/
/.vscode/
/xonshrc
/.yarnrc
/.zcompdump
/.zprofile
/.zprofile.macports-saved_2024-01-16_at_18:40:28
/.zsh_history
/.zsh_sessions/
/.zshrc

# Ignore other user directories
/AiApp/
/Applications/
/Desktop/
/Documents/
/Downloads/
/EnhancedBot/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/PycharmProjects/
/VirtualBox VMs/
/anaconda3/
/bug/
/fitnessapp/
/go/
/projects/
/root@45.55.131.82
/thinkorswim/
/webpage/
/main.py
/Testing Jupyter.ipynb
/Untitled.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
/emotiondetector/
/workspace/
/portfolio/
/my_env/
/__pycache__/
/.dartServer/

